@use '../../lib/service.scss' as s;

.header {
	@extend .section;
	background-color: s.color('backgroundDark');
}

.header__content {
	@extend .section__content;
	display: flex;
	padding: s.space(4) 0;
	justify-content: space-between;
}

.header__block {
	display: flex;
	gap: s.space(8);
	align-items: center;
}

.header__icon {
	@include s.click;
}

.header__link {
	@include s.click;
	text-decoration: none;
	color: s.color('whiteLight');
	font-size: s.size('small');
}

.product {
	@extend .section;
	padding-top: s.space(20);
	padding-bottom: s.space(20);
}

.product__content {
	display: grid;
	gap: s.space(5);
	text-align: center;
}

.product__title {
	font-size: 56px;
	font-weight: 600;
}

.product__description {
	font-size: 28px;
	font-weight: 400;
}

.product__action {
	display: flex;
	align-items: center;
	gap: s.space(5);
	justify-content: center;
}

.product__link {
	@include s.click;
	@include s.linkAction;
}
